In [ ]:
#Q.No 1- Discuss string slicing and providing example.

In [12]:
str="string slicing"
print(str[:])

string slicing

In [13]:
print(str[4:10])

ng sli

In [16]:
print(str[2:14:2])

rn lcn

In [18]:
print(str[8:25:3])

li

In [19]:
#Q.No. 2 Example of key feature of list in python
#Define a list 
#index method 


z= [4,1,5,4,10,4]
print(z.index(4))

0

In [21]:
print(z.index(4,3))

3

In [22]:
#Count Method

random_list = [4,1,5,4,10,4]
random_list.count(5)

1

In [23]:
#sort Method 


z=[3,7,4,2]
z.sort()
print(z)

[2, 3, 4, 7]

In [24]:
#Append Method 

z=[7,4,3,2]
z.append(3)
print(z)

[7, 4, 3, 2, 3]

In [28]:
#Remove Method

z= [7,4,3,2,3]
z.remove(2)
print(z)

[7, 4, 3, 3]

In [1]:
#pop Method
# The pop method removes an item at the you provide.
#This method will also return the item you removed from the list.


z=[7,4,3,3]
print(z.pop(1))
print(z)

4
[7, 3, 3]

In [2]:
#Extend Method 


z=[7,3,3]
z.extend([4,5])
print(z)

[7, 3, 3, 4, 5]

In [3]:
print([1,2]+[3,4])

[1, 2, 3, 4]

In [4]:
#Insert Method

z=[7,3,3,4,5]
z.insert(4,[1,2])
print(z)

[7, 3, 3, 4, [1, 2], 5]

In [5]:
#Q.No.3- how to access, modify and delete element in a list.


fruits=['apple', 'banana', 'cherry']
#Access the second element
second_fruit= fruits[1]
print(second_fruit)

banana

In [7]:
#Modifying Elements in a list
#Modify anelement by assigning a new value to a specific index.

fruits =['apple','banana','cherry']
#Change 'banana' to 'orange'
fruits[1]= 'orange'
print(fruits)

['apple', 'orange', 'cherry']

In [8]:
#Deleting Elements from a list 
 
fruits = ['apple','orange','cherry']
#delete the second element
del fruits[1]
print(fruits)

['apple', 'cherry']

In [10]:

fruits = ['apple','orange','cherry']
#Remove 'orange'
fruits.remove('orange')
print(fruits)

['apple', 'cherry']

In [18]:
#Q.No.4-  Compare and contrast Tuple and List with example.

#Creating a list with 
#the use of Numbers
#code to test that tuples are mutable 

List =[1,2,3,4,4,3,3,3,6,5]
print("Original list",List)
 
List[3] = 77 
print("Example to show mutablity",List)

Original list [1, 2, 3, 4, 4, 3, 3, 3, 6, 5]
Example to show mutablity [1, 2, 3, 77, 4, 3, 3, 3, 6, 5]

In [19]:
#code to test that tuples are immutable

tuple1 = (0,1,2,3)
tuple1[0] = 4 
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Q.No.5- Describe the key feature sets  and provide example of their use.

In [3]:
#create a set of integer type 
student_id = {112,114,116,118,115}
print('student ID:',student_id)

#create a set of string type
vowel_letters = {'a','e','i','o','u'}
print ('Vowel letters:', vowel_letters)

#create a set of mixed data types 
mixed_set ={'Hello', 101,-2,'Bye'}
print('set of mixed data types:',mixed_set)

student ID: {112, 114, 115, 116, 118}
Vowel letters: {'e', 'i', 'o', 'u', 'a'}
set of mixed data types: {'Hello', 101, -2, 'Bye'}

In [3]:
# Example of Empty set

#crete an empty set
empty_set = set()
 
#create an empty dictionary 
empty_dictionary = {}

#check data type of empty_set
print('Data type of empty_set:',type(empty_set))

#check data type of dictionary_set 
print('Data type of dictionary_set')
print('Data type of empty_ditonary:',type(empty_dictionary))

Data type of empty_set: <class 'set'>
Data type of dictionary_set
Data type of empty_ditonary: <class 'dict'>

In [13]:
#Q.No-7- How to add ,modify and delete items in a dictinary with examples.

#example of ADD

my_dictionary={
    "one":1,
    "two":2
}
print(my_dictionary)

{'one': 1, 'two': 2}

In [15]:
# Example of modify

dict1={'a':1,'b':2}
dict1.update ({'b':3,'c':4})
print(dict1)

{'a': 1, 'b': 3, 'c': 4}

In [16]:
#example of delete

my_dict={'apple':2,'banana':3,'cherry':4}
del my_dict['banana']
print(my_dict)

{'apple': 2, 'cherry': 4}